<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header"><h3>📝 Player Nomination (Annexure-1)</h3></div>
    <div class="card">
        <form method="POST">
            <label>Name:</label>
            <input type="text" name="name" required style="width:90%; padding:8px;">
            
            <label>Role:</label>
            <select name="role" style="width:95%; padding:8px;">
                <option>Batsman</option>
                <option>Bowler</option>
                <option>All-Rounder</option>
                <option>Wicket Keeper</option>
            </select>
            
            <label style="color:red; font-weight:bold;">Serious Disease/Allergy (Mandatory):</label>
            <input type="text" name="disease" placeholder="Type 'None' if NA" required style="width:90%; padding:8px;">
            
            <button type="submit" style="margin-top:15px;">Submit Form</button>
        </form>
    </div>
    <a href="/" class="btn" style="text-align:center; display:block; background:#555;">Back Home</a>
</body>
</html>
